.btnUp {
  position: fixed;
  width: 30px;
  padding: 10px;
  height: 30px;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #6f129b;
  z-index: 9999;
  cursor: pointer;
  border-radius: 5px;
}