@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.skills {
  color: #fff;
  margin: auto 0;
  font-family: 'Ubuntu', sans-serif;
  height: auto; /* Remova a altura fixa para permitir que o conteúdo se expanda conforme necessário */
  padding: 2rem 0; /* Aumente a margem superior para dar espaço ao cabeçalho fixo */

  h2 {
    text-align: center;
    margin-bottom: 2rem; /* Reduz a margem inferior para dar espaço ao conteúdo */
    position: relative;
    font-size: 2rem; /* Ajuste o tamanho da fonte para telas menores */
    padding-bottom: 1rem;
  }

  h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 6rem; /* Ajuste a largura da linha */
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
  }

  h2::after {
    content: 'habilidades';
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    font-size: 1rem; /* Ajuste o tamanho da fonte para telas menores */
    background: #111;
    color: #6f129b;
    padding: 0.25rem 0.5rem; /* Ajuste o preenchimento */
    transform: translateX(-50%);
  }

  .container {
    @include max-width;
    margin-bottom: 0;
    max-width: 60%; /* Aumente a largura máxima para telas maiores */
    padding: 0;
    margin: auto;
  }

  .skillsContent h3 {
    font-size: 1.5rem; /* Ajuste o tamanho da fonte para telas menores */
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }

  .skillsContent p {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem; /* Reduz a margem inferior para dar espaço ao conteúdo */
    max-width: 80%; /* Aumente a largura máxima para telas maiores */
    font-size: 1.125rem; /* Ajuste o tamanho da fonte para telas menores */
    font-weight: 400;
  }

  .skillsInfo {
    padding-left: 0; /* Remova o preenchimento esquerdo para telas menores */
    width: 80%; /* Ajuste a largura para preencher toda a largura do contêiner */
    margin: auto;
  }

  .skillsInfo .bars {
    margin-bottom: 1rem; /* Reduz a margem inferior entre as barras */
  }

  .skillsInfo .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem; /* Reduz a margem inferior entre as informações */
  }

  .skillsInfo span {
    font-weight: 300;
    font-size: 1rem; /* Ajuste o tamanho da fonte para telas menores */
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: #ccc;
    position: relative;
  }

  .line::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #6f129b;
  }

  .html::before {
    width: 86%;
  }

  .css::before {
    width: 80%;
  }

  .js::before {
    width: 77%;
  }

  .react::before {
    width: 80%;
  }

  .ts::before {
    width: 83%;
  }

  .next::before {
    width: 75%;
  }

  .comunication::before {
    width: 95%;
  }

  .teamwork::before {
    width: 86%;
  }

  .adaptability::before {
    width: 90%;
  }

  .criativity::before {
    width: 89%;
  }

  .problem_solving::before {
    width: 97%;
  }

  .decision_making::before {
    width: 92%;
  }

  @media (max-width: 768px) {
    .skills {
      margin: auto 0; /* Reduz a margem esquerda para telas menores */
    }

    h2 {
      font-size: 1.5rem; /* Reduz o tamanho da fonte para telas menores */
    }

    h2::before {
      width: 4rem; /* Ajuste a largura da linha para telas menores */
    }

    h2::after {
      font-size: 1rem; /* Reduz o tamanho da fonte para telas menores */
      padding: 0.25rem 0.5rem; /* Ajuste o preenchimento */
    }

    .container {
      max-width: 95%; /* Aumente a largura máxima para telas maiores */
    }

    .skillsContent h3 {
      font-size: 1.25rem; /* Reduz o tamanho da fonte para telas menores */
    }

    .skillsContent p {
      max-width: 90%; /* Aumente a largura máxima para telas maiores */
      font-size: 1rem; /* Reduz o tamanho da fonte para telas menores */
    }

    .skillsInfo .info {
      margin-bottom: 1rem; /* Ajuste a margem inferior para telas menores */
    }

    .line::before {
      height: 5px; /* Mantenha a altura da linha */
      width: 100%; /* Preencha a largura do contêiner */
    }

  }
}