.ContactMeSection {
    min-height: 50vmin;
    background-image: url(#), linear-gradient(#cdbfe7, #cdbfe7);
    background-position: 50% 101%, 0 0 ;
    background-repeat: no-repeat, repeat;
    background-size: 100%, auto;
    // overflow: hidden;
    display: flex;
    align-items: center;
}

.NewsLetterIcon {
    margin-top: 5%;
    margin-bottom: 2%;

}

.emailCopy {

}